lxml>=4.4.0
progress>=1.5
spacy>=2.2.0,<3.0.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-2.2.5/en_core_web_lg-2.2.5.tar.gz#egg=en_core_web_lg
python-dateutil>=2.8.1
scikit-learn>=0.22.2
lexrank>=0.1.0
torch>=1.4.0
transformers>=2.5.1
pyyaml>=5.3.0